.todolist {
    position: relative;
    display: block;
    padding: 30px;
    background: gray;
    width: 600px;
    margin: 5px;
    .todo {
        position: relative;
        display: block;
        padding: 30px;
        background: white;
        margin: 5px;

        &__remove {
            display: inline-block;
            background: red;
            text-align: center;
            padding: 5px;
            float: right;
            cursor: pointer;
        }
    }
}

.addTodo {
    position: relative;
    display: block;
    padding: 30px;
    background: gray;
    width: 600px;
    margin: 5px;
    &__input {
        font-size: 2rem;
        padding: 5px;
        margin: 5px;
    }
    &__button {
        font-size: 2rem;
        padding: 5px 30px;
        margin: 5px;
    }
}