<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">

<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="bundle.css">
  <link rel="icon" type="image/png" href="assets/fav.ico" />
</head>

<body>
  <div id="app"></div>
  <script src='bundle.js'></script>
</body>

</html>